<h1>Event<h1>

<ul data-role="listview" data-inset="true">
  <% @events.each do |event| %>
    <li>
      <%= link_to event_invitations_path(event) do %>
        <%= event.name %>
        <span class="ui-li-count"><%= event.invitations.count %></span>
      <% end %>
    </li>
  <% end %>
</ul>