<h1>Einladungen für <%= @event.name %></h1>

<ul data-role="listview" data-filter="true" data-autodividers="true" data-filter-placeholder="Gastenamen suchen..." data-inset="true">
  <% @event.invitations.each do |invitation| %>
    <li>
      <%= link_to invitation.name, edit_event_invitation_path(@event, invitation) %>
    </li>
  <% end %>
</ul>